# ignore everything
*

# but keep directories (so git can see paths)
!*/

# keep python files
!*.py

# (optional) keep these common python project files too
!requirements*.txt
!pyproject.toml
!setup.cfg
!setup.py
!README.md
!LICENSE
